$footer-background-color: #353535;
$footer-text-color: white;
$footer-padding-top: 20px;
$footer-padding-left: 30px;
$footer-padding-bottom: 20px;
$footer-title-font: "Shrikhand", cursive;
$footer-title-font-size: 1.125em;
$footer-menu-item-font-size: 0.8125em;
