@charset "UTF-8";
:root {
  --font-size: 1em;
}

.footer-container {
  background-color: #353535;
  color: white;
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  /* Affichage en colonne par défaut */
}
.footer-container #footer-title {
  margin-bottom: 20px;
  font-family: "Shrikhand", cursive;
  font-size: 1.125em;
}
.footer-container .footer-menu ul {
  padding: 0;
  list-style: none;
}
.footer-container .footer-menu li {
  margin-bottom: 10px;
}
.footer-container .footer-menu a {
  color: inherit;
}
.footer-container .footer-menu a:hover {
  color: #99e2d0;
}
.footer-container .footer-menu .footer-menu-item,
.footer-container .footer-menu .custom-icon {
  margin-right: 10px;
  font-size: 0.8125em;
}
.footer-container .footer-menu .footer-menu-item1 {
  margin-right: 5px;
  font-size: 0.8125em;
}

@media screen and (min-width: 1024px) {
  .footer-container {
    flex-direction: row-reverse;
    /* Changement en affichage en ligne avec inversion */
    align-items: center;
    /* Alignement vertical des éléments */
    padding-top: 50px;
    /* Ajouter un padding en haut de la section */
    padding-bottom: 10px;
    /* Ajouter un padding en bas de la section */
  }
  #footer-title {
    margin-bottom: 0;
    /* Supprime la marge en bas */
  }
  .footer-menu ul {
    display: flex;
    /* Affichage en ligne des éléments du menu */
  }
  .footer-menu ul li {
    margin-left: 15px;
    /* Espacement entre les éléments du menu */
  }
  /* Créer un écart entre "Contact" et "Ohmyfood" */
  .footer-menu ul li:last-child {
    margin-right: 100px;
    /* Ajoute un espace à droite du dernier élément */
  }
}
.header {
  display: flex;
  flex-direction: column;
}
.header .logo-container {
  margin-left: auto;
  margin-right: auto;
}
.header .logo-container .logo {
  width: 45%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 15px;
}

.header-page-menu {
  display: flex;
  align-items: center;
  padding: 15px 20px 10px 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header-page-menu .header-return {
  font-size: 16px;
  color: #000;
  transition: color 0.3s;
  margin-right: auto;
}
.header-page-menu .header-return:hover {
  color: #99e2d0;
}
.header-page-menu .header-logo {
  flex: 1;
  text-align: center;
}
.header-page-menu .logo {
  width: 11.25em;
  display: inline-block;
}

.btn {
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 30px;
  width: 220px;
  height: 50px;
  padding: 10px;
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.12);
  background: linear-gradient(356deg, #9356dc 0%, #ff79da 100%);
  display: block;
  margin: 0 auto;
  transition: background 1.5s, box-shadow 1.5s;
}
.btn:hover {
  background: linear-gradient(356deg, #a16be0, #ff93e1), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.btn-order .btn {
  margin-bottom: 20px;
}

.heart-container {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.heart-checkbox {
  display: none;
}

.heart {
  font-size: 25px;
  position: relative;
}

.fa-heart {
  width: auto;
}

.heart-full {
  opacity: 0;
  transition: opacity 1.5s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.heart-checkbox:checked + .heart .heart-full {
  opacity: 1;
  color: transparent;
  background-image: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
}

.heart-checkbox:not(:checked) + .heart .heart-full {
  opacity: 0;
  color: transparent;
  background-image: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
}

.restaurant-page-heart {
  position: absolute;
  top: 0;
  right: 15px;
}

.section-title {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 25px;
}

.home-page .localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e7;
  padding: 20px;
  width: 100%;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
.home-page .localisation .fa-location-dot {
  font-size: 16px;
  color: #353535;
  margin-left: 70px;
}
.home-page .localisation .search {
  background: none;
  border: none;
  font-weight: 500;
  font-size: 1em;
}
.home-page .exploration {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  width: 100%;
  text-align: center;
  padding: 40px 20px 20px;
}
.home-page .exploration > div {
  margin-bottom: 20px;
}
.home-page .exploration .exploration-text p {
  font-weight: 300;
  font-size: 1.125em;
}
.home-page .fonctionnement {
  padding: 40px 20px;
  background-color: white;
}
.home-page .fonctionnement .fonctionnement-steps .step {
  background: #f6f6f6;
  border-radius: 25px;
  height: 80px;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-left: 100px;
  box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.1);
  position: relative;
}
.home-page .fonctionnement .fonctionnement-steps .step .step-number {
  color: #fff;
  font-weight: 500;
  font-size: 0.875em;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #9356dc;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-page .fonctionnement .fonctionnement-steps .step .step-icon {
  color: #9356dc;
  font-size: 1.5em;
  margin-right: 20px;
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
}
.home-page .fonctionnement .fonctionnement-steps .step .step-description {
  line-height: 1.5;
  position: relative;
  left: -20px;
}
.home-page .restaurants {
  background-color: #f6f6f6;
  padding: 40px 20px 40px 20px;
}
.home-page .card {
  position: relative;
  background-color: white;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 25px;
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.12);
  position: relative;
  display: block;
}
.home-page .card img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 150px;
  position: relative;
}
.home-page .card .card-new {
  background-color: rgb(153, 226, 208);
  color: rgb(0, 135, 102);
  padding: 5px 10px;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}
.home-page .card .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
}
.home-page .card .card-content .card-txt {
  display: flex;
  align-items: center;
  width: 100%;
}
.home-page .card .card-content .card-txt .title-subtitle {
  flex: 1;
  margin-right: 10px;
}
.home-page .card .card-content .card-txt .title-subtitle .card-title {
  font-size: 1.125em;
  font-weight: 700;
  padding-bottom: 5px;
}
.home-page .card .card-content .card-txt .title-subtitle .card-subtitle {
  font-size: 1.0625em;
  font-weight: 300;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  /* Fond blanc transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* Assure que le loader est au-dessus de tout le contenu */
  animation: fadeOut 2s 1s forwards;
  /* Animation de fondu après 2 secondes */
}

.loader-overlay .fa-utensils {
  font-size: 120px;
  /* Taille de l'icône de fourchette et couteau */
  color: #9356dc;
  /* Couleur principale */
  animation: spin 2s linear infinite;
  /* Animation de rotation */
}

@keyframes fadeOut {
  from {
    opacity: 1;
    /* Opacité maximale */
  }
  to {
    opacity: 0;
    /* Opacité minimale */
    display: none;
    /* Disparaît complètement */
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 1024px) {
  .home-page h1 {
    font-size: 1.25em;
    padding-bottom: 10px;
  }
  .home-page .fonctionnement {
    padding: 40px 60px;
  }
  .home-page .fonctionnement-steps {
    display: flex;
    justify-content: space-between;
    /* Espacement égal entre les étapes */
    width: 100%;
    /* Largeur totale pour s'adapter au centrage */
  }
  .home-page .fonctionnement-steps .step {
    margin-left: 10px;
  }
  .home-page .restaurants {
    padding: 40px 30px 40px 60px;
  }
  .home-page .card {
    margin-right: 25px;
    /* Ajouter une marge à droite */
  }
  .home-page .restaurants .restaurants-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .home-page h1 {
    font-size: 1.75em;
    padding-bottom: 25px;
  }
  .home-page p {
    padding-bottom: 20px;
  }
  .home-page .fonctionnement {
    padding: 40px 200px;
  }
  .home-page .fonctionnement-steps {
    padding: 0 15px;
  }
  .home-page .restaurants {
    padding: 40px 120px 10px 200px;
  }
  .fonctionnement-steps .step {
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 40px;
  }
  .card {
    margin-right: 75px;
    /* Ajouter une marge à droite */
  }
  .footer-container {
    padding-right: 120px;
    /* Ajouter une marge à droite */
  }
}
body {
  background-color: rgb(246, 246, 246);
}

.image-restaurant {
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.menu-restaurant {
  background-color: rgb(246, 246, 246);
  padding: 20px;
  position: relative;
  top: -75px;
  z-index: 1;
  border-radius: 40px 40px 0 0;
  margin-bottom: -75px;
}

.title-restaurant {
  font-family: "Shrikhand", cursive;
  font-size: 1.75em;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.menu-card {
  margin-bottom: 40px;
}

.menu-card h2 {
  text-transform: uppercase;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.content-menu-card {
  cursor: pointer;
  overflow: hidden;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  padding-left: 12px;
  margin-bottom: 15px;
  box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.1);
  transition: transform 330ms ease-in-out;
}
.content-menu-card .details-menu-card {
  line-height: 25px;
  flex-grow: 1;
  overflow: hidden;
  /* si nécessaire, texte rogné et ... */
  text-overflow: ellipsis;
  /* empêche le retour à la ligne */
  white-space: nowrap;
  padding-right: 10px;
}
.content-menu-card .title-menu-card {
  font-weight: 500;
  font-size: 1.125em;
  flex-grow: 1;
  overflow: hidden;
  /* si nécessaire, texte rogné et ... */
  text-overflow: ellipsis;
  /* empêche le retour à la ligne */
  white-space: nowrap;
}
.content-menu-card .txt-menu-card {
  font-weight: 300;
  font-size: 0.9375em;
  flex-grow: 1;
  overflow: hidden;
  /* si nécessaire, texte rogné et ... */
  text-overflow: ellipsis;
  /* empêche le retour à la ligne */
  white-space: nowrap;
}
.content-menu-card .price-menu-card {
  font-weight: 700;
  font-size: 0.9375em;
  padding-right: 20px;
  margin-top: 25px;
}

.check {
  overflow: hidden;
  flex-shrink: 0;
  font-size: 20px;
  background-color: #99e2d0;
  color: white;
  border-radius: 0px 15px 15px 0px;
  width: 0px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.8s ease;
  /* Transition plus lente */
}
.check .fa-circle-check {
  transform: rotate(0deg);
  /* Rotation initiale */
  transition: transform 0.8s ease;
  /* Transition plus lente */
}

.content-menu-card:hover .check {
  width: 60px;
  /* Déplace le bouton vers la gauche au survol */
}
.content-menu-card:hover .check .fa-circle-check {
  transform: rotate(360deg);
  /* Rotation complète au survol */
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: white;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}/*# sourceMappingURL=style.css.map */