@import "base/variables";
@import "components/footer";
@import "components/header";
@import "components/btn";
@import "components/heart";
@import "pages/home";
@import "pages/menu";

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  min-width: $small;
  max-width: $extra-large;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}


