@charset "UTF-8";
:root {
  --font-size: 1rem;
}

.footer-container {
  background-color: #353535;
  color: white;
  padding: 25px 30px 20px 30px;
  display: flex;
  flex-direction: column;
}
.footer-container #footer-title {
  margin-bottom: 20px;
  font-family: "Shrikhand", cursive;
  font-size: 1.125rem;
}
.footer-container .footer-menu ul {
  padding: 0;
  list-style: none;
}
.footer-container .footer-menu li {
  margin-bottom: 10px;
}
.footer-container .footer-menu a {
  color: inherit;
}
.footer-container .footer-menu a:hover {
  color: #99e2d0;
}
.footer-container .footer-menu .footer-menu-item,
.footer-container .footer-menu .custom-icon {
  margin-right: 10px;
  font-size: 0.8125rem;
}
.footer-container .footer-menu .footer-menu-item1 {
  margin-right: 5px;
  font-size: 0.8125rem;
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding: 20px 4.6875em;
  }
  #partner {
    padding-right: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .footer-container {
    flex-direction: row-reverse;
    /* Changement en affichage en ligne avec inversion */
    align-items: center;
    /* Alignement vertical des éléments */
    padding-top: 3.125em;
    padding-bottom: 0.625em;
  }
  .footer-menu ul {
    display: flex;
    /* Affichage en ligne des éléments du menu */
  }
  .footer-menu ul li {
    margin-left: 0.9375em;
  }
  /* Ecart entre "Contact" et "Ohmyfood" */
  .footer-menu ul li:last-child {
    margin-right: 6.25em;
  }
}
.header {
  display: flex;
  flex-direction: column;
}
.header .logo-container {
  margin-left: auto;
  margin-right: auto;
}
.header .logo-container .logo {
  width: 45%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 15px;
}

.header-page-menu {
  display: flex;
  align-items: center;
  padding: 15px 20px 10px 20px;
}
.header-page-menu .header-return {
  font-size: 1em;
  transition: color 0.3s;
  margin-right: auto;
}
.header-page-menu .header-return:hover {
  color: #99e2d0;
}
.header-page-menu .header-logo {
  flex: 1;
  text-align: center;
}
.header-page-menu .logo {
  width: 180px;
}

@media screen and (min-width: 1440px) {
  .header-page-menu {
    padding: 25px 20px;
  }
  .header {
    padding: 10px 20px;
  }
}
.btn {
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 30px;
  width: 220px;
  height: 50px;
  padding: 10px;
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.12);
  background: linear-gradient(356deg, #9356dc 0%, #ff79da 100%);
  display: block;
  margin: 0 auto;
  transition: 1.5s, box-shadow 1.5s;
}
.btn:hover {
  background: linear-gradient(356deg, #a16be0, #ff93e1), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.btn-order .btn {
  margin-bottom: 20px;
}

.heart-container {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.heart-checkbox {
  display: none;
}

.heart {
  font-size: 25px;
}

.fa-heart {
  width: auto;
}

.heart-full {
  opacity: 0;
  transition: opacity 1.5s;
  position: absolute;
  top: 12px;
  left: 12px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.heart-checkbox:checked + .heart .heart-full {
  opacity: 1;
  color: transparent;
  background-image: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
}

.heart-checkbox:not(:checked) + .heart .heart-full {
  opacity: 0;
  color: transparent;
  background-image: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
}

.restaurant-page-heart {
  position: absolute;
  top: 0;
  right: 20px;
}

@media screen and (min-width: 1440px) {
  .restaurant-page-heart {
    position: absolute;
    top: 9px;
    right: 150px;
    transform: translateY(-50%);
  }
}
.section-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 0 30px;
}

.home-page .localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e7;
  padding: 20px;
  width: 100%;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
.home-page .localisation .fa-location-dot {
  font-size: 1rem;
  color: #353535;
  margin-left: 70px;
  margin-right: 12px;
}
.home-page .localisation .search {
  background: none;
  border: none;
  font-weight: 500;
  font-size: 1rem;
}
.home-page .exploration {
  background-color: #f6f6f6;
  width: 100%;
  text-align: center;
  padding: 40px 20px 50px;
}
.home-page .exploration > div {
  margin-bottom: 20px;
}
.home-page .exploration .exploration-text {
  font-weight: 300;
  font-size: 18px;
  padding-bottom: 25px;
}
.home-page .fonctionnement {
  padding: 40px 20px;
  background-color: white;
}
.home-page .fonctionnement .subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 25px;
}
.home-page .fonctionnement .fonctionnement-steps {
  padding-left: 10px;
}
.home-page .fonctionnement .fonctionnement-steps .step {
  background: #f6f6f6;
  border-radius: 25px;
  height: 80px;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-left: 10px;
  box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.1);
  position: relative;
}
.home-page .fonctionnement .fonctionnement-steps .step .step-number {
  color: #fff;
  font-weight: 500;
  font-size: 11px;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #9356dc;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-page .fonctionnement .fonctionnement-steps .step .step-icon {
  color: #7E7E7E;
  font-size: 1.5rem;
  margin-right: 20px;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}
.home-page .fonctionnement .fonctionnement-steps .step .step-icon-1 {
  color: #9356dc;
  font-size: 1.5rem;
  margin-right: 20px;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}
.home-page .fonctionnement .fonctionnement-steps .step .step-description {
  line-height: 1.5;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-page .restaurants {
  background-color: #f6f6f6;
  padding: 50px 20px 40px 20px;
}
.home-page .subtitle {
  font-size: 1.5rem;
  font-weight: 700;
}
.home-page .card {
  position: relative;
  background-color: white;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 25px;
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.12);
  transition: box-shadow 1.5s ease;
  /* Transition de la boîte d'ombre pour l'effet de survol */
}
.home-page .card img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 150px;
  position: relative;
}
.home-page .card .card-new {
  background-color: rgb(153, 226, 208);
  color: rgb(0, 135, 102);
  padding: 5px 10px;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}
.home-page .card .card-content {
  padding: 15px;
}
.home-page .card .card-content .card-txt .title-subtitle {
  flex: 1;
  margin-right: 10px;
}
.home-page .card .card-content .card-txt .title-subtitle .card-title {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 5px;
}
.home-page .card .card-content .card-txt .title-subtitle .card-subtitle {
  font-size: 1.0625rem;
  font-weight: 300;
}
.home-page .card:hover {
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
  transition: box-shadow 1.5s ease;
  /* Transition de la boîte d'ombre pour quitter le survol */
  cursor: pointer;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  /* Assure que le loader est au-dessus de tout le contenu */
  animation: fadeOut 2s 1s forwards;
  /* Animation de fondu après 2 secondes */
}

.loader-overlay .fa-utensils {
  font-size: 120px;
  color: #9356dc;
  animation: spin 2s linear infinite;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
    /* Masque l'élément */
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 768px) {
  .home-page .fonctionnement {
    padding: 40px 60px 40px 75px;
  }
  .home-page .restaurants {
    padding: 40px 75px;
  }
  .home-page .fonctionnement-steps {
    padding: 0 15px;
  }
}
@media screen and (min-width: 1024px) {
  .home-page h1 {
    font-size: 2.25rem;
    margin-bottom: 30px;
  }
  .home-page .fonctionnement {
    padding: 40px 60px;
  }
  .home-page .fonctionnement-steps {
    width: 100%;
  }
  .home-page .fonctionnement-steps .step {
    margin-left: 10px;
  }
  .home-page .restaurants {
    padding: 40px 30px 40px 60px;
  }
  .home-page .card {
    margin-right: 25px;
  }
  .home-page .restaurants .restaurants-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .home-page h1 {
    font-size: 2.5rem;
    padding-bottom: 0;
  }
  .home-page p {
    padding-bottom: 20px;
  }
  .home-page .fonctionnement {
    padding: 60px 200px 20px;
  }
  .home-page .fonctionnement-steps {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  .home-page .fonctionnement-steps .step {
    width: calc(33.333% - 0px);
    margin-right: 20px;
  }
  .home-page .restaurants {
    padding: 40px 120px 10px 200px;
  }
  .home-page .card {
    height: 275px;
    margin-right: 60px;
    margin-right: 4.6875em;
  }
  .home-page .card img {
    height: 200px;
  }
}
body {
  background-color: rgb(246, 246, 246);
}

.image-restaurant {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 30px;
}

.menu-restaurant {
  background-color: rgb(246, 246, 246);
  padding: 12px 12px 35px;
  position: relative;
  border-radius: 40px 40px 0 0;
  transform: translateY(-75px);
  z-index: 1;
  margin-bottom: -75px;
}

.title-restaurant {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  position: relative;
  padding-bottom: 30px;
  margin-top: 30px;
}

.title-order {
  text-transform: uppercase;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

@keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu-card-entry,
.menu-card-plats,
.menu-card-desserts {
  opacity: 0;
  margin-bottom: 40px;
  animation: apparition 4s forwards;
}

.menu-card-plats {
  animation-delay: 1s;
}

.menu-card-desserts {
  animation-delay: 2s;
}

.content-menu-card .bar-menu {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  padding-left: 12px;
  margin-bottom: 15px;
  box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.1);
  transition: transform 330ms ease-in-out;
}

/* Positionnement de la case à cocher à droite */
.hidden {
  display: none;
}

.details-menu-card,
.title-menu-card,
.txt-menu-card {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.details-menu-card {
  line-height: 25px;
}

.title-menu-card {
  font-weight: 500;
  font-size: 1.125rem;
}

.txt-menu-card {
  font-weight: 300;
  font-size: 0.9375rem;
}

.price-menu-card {
  font-weight: 700;
  font-size: 0.9375rem;
  padding-right: 15px;
  margin-top: 25px;
}

/* Style de la coche */
.bar-menu:after {
  font: var(--fa-font-solid);
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  font-size: 1.25rem;
  background-color: #99e2d0;
  width: 59px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 15px 0;
  color: white;
  right: -5em;
  transition: right 0.3s ease;
}

/* Fait apparaître l'icône uniquement lorsqu'il est coché */
.menu-checkbox:checked + .bar-menu:after {
  right: 0;
}

/* Rogner texte si trop long */
.menu-checkbox:checked ~ .bar-menu .ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - 120px);
  /* Ajout espace pour la coche */
}

/* Décalage du prix vers la gauche au clic */
.menu-checkbox:checked + .bar-menu .price-menu-card {
  transform: translateX(-60px);
  transition: transform 0.3s ease;
}

@media screen and (min-width: 768px) {
  .menu-restaurant {
    margin: 0 75px -75px;
  }
}
@media screen and (min-width: 1024px) {
  .image-restaurant {
    height: 380px;
  }
  .menu-restaurant {
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .menu-restaurant {
    padding-left: 200px;
    padding-right: 200px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 30px;
    position: relative;
  }
  .section-title-restaurant {
    display: flex;
    justify-content: center;
    position: relative;
  }
}
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: white;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}/*# sourceMappingURL=style.css.map */