.footer-container {
  background-color: $footer-background-color;
  color: $footer-text-color;
  padding-top: $footer-padding-top;
  padding-left: $footer-padding-left;
  padding-bottom: $footer-padding-bottom;

  #footer-title {
    margin-bottom: 20px;
    font-family: $footer-title-font;
    font-size: $footer-title-font-size;
  }

  .footer-menu li {
    margin-bottom: 10px;

    .footer-menu-item {
      margin-right: 5px;
      font-size: $footer-menu-item-font-size;

      &.footer-menu-item1 {
        font-size: $footer-menu-item-font-size;
      }
    }
  }
}
