.footer-container {
  background-color: $footer-background-color;
  color: $footer-text-color;
  padding: $footer-padding-top $footer-padding-right $footer-padding-bottom $footer-padding-left;
  display: flex;
  flex-direction: column;
  /* Affichage en colonne par défaut */

  #footer-title {
    margin-bottom: 1.25em;
    font-family: $footer-title-font;
    font-size: $footer-title-font-size;
  }

  .footer-menu {
    ul {
      padding: 0;
      list-style: none;
    }

    li {
      margin-bottom: 0.625em;
    }

    a {
      color: inherit;

      &:hover {
        color: #99e2d0;
      }
    }

    .footer-menu-item,
    .custom-icon {
      margin-right: 0.625em;
      font-size: $footer-menu-item-font-size;
    }

    .footer-menu-item1 {
      margin-right: 0.3125em;
      font-size: $footer-menu-item-font-size;
    }
  }
}

@media screen and (min-width: $large) {
  .footer-container {
    flex-direction: row-reverse;
    /* Changement en affichage en ligne avec inversion */
    align-items: center;
    /* Alignement vertical des éléments */
    padding-top: 3.125em;
    /* Ajouter un padding en haut de la section */
    padding-bottom: 0.625em;
    /* Ajouter un padding en bas de la section */
  }

  #footer-title {
    margin-bottom: 0;
    /* Supprime la marge en bas */

  }

  .footer-menu ul {
    display: flex;
    /* Affichage en ligne des éléments du menu */
  }

  .footer-menu ul li {
    margin-left: 0.9375em;
    /* Espacement entre les éléments du menu */
  }

  /* Créer un écart entre "Contact" et "Ohmyfood" */
  .footer-menu ul li:last-child {
    margin-right: 6.25em;
    /* Ajoute un espace à droite du dernier élément */
  }

}