// Styles pour l'en-tête de la page d'accueil
.header {
    display: flex;
    flex-direction: column;

    .logo-container {
        margin-left: auto;
        margin-right: auto;

        .logo {
            width: 45%;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            margin-bottom: 15px;
        }
    }
}

// Styles pour l'en-tête des pages de restaurant
.header-page-menu {
    // Styles spécifiques pour l'en-tête des pages de restaurant
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 65%;
    /* ou la taille désirée */
    margin-right: 10px;
    /* espace entre le logo et l'icône de retour */
}