// Styles pour l'en-tête de la page d'accueil
.header {
    display: flex;
    flex-direction: column;

    .logo-container {
        margin-left: auto;
        margin-right: auto;

        .logo {
            width: 45%;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            margin-bottom: 15px;
        }
    }
}

// Styles pour l'en-tête des pages restaurant
.header-page-menu {
    display: flex;
    align-items: center;
    padding: 15px 20px 10px 20px;

    .header-return {
        font-size: 1em;
        transition: color 0.3s;
        margin-right: auto;

        &:hover {
            color: $tertiary-color;
        }
    }

    .header-logo {
        flex: 1; // Le logo occupe l'espace restant
        text-align: center;
    }

    .logo {
        width: 180px;
    }
}

@media screen and (min-width: $extra-large) {
    .header-page-menu {
        padding: 25px 20px;
    }

    .header {
        padding: 10px 20px;
    }
}