// Styles pour l'en-tête de la page d'accueil
.header {
    display: flex;
    flex-direction: column;

    .logo-container {
        margin-left: auto;
        margin-right: auto;

        .logo {
            width: 45%;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            margin-bottom: 15px;
        }
    }
}

.header-page-menu {
    // Styles spécifiques pour l'en-tête des pages de restaurant
    display: flex;
    align-items: center; // Alignement vertical
    padding: 15px 20px 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .header-return {
        font-size: 16px; // Taille de l'icône
        color: #000; // Couleur par défaut
        transition: color 0.3s; // Animation de transition
        margin-right: auto; // Pour aligner l'icône complètement à gauche

        &:hover {
            color: $tertiary-color; // Couleur au survol
        }
    }

    .header-logo {
        flex: 1; // Le logo occupe l'espace restant
        text-align: center; // Centrage horizontal du logo
    }

    .logo {
        width: 11.25em; // Ajustement de la largeur du logo
        display: inline-block; // Permet d'appliquer text-align: center
    }
}
