// Style coeur page accueil
.heart-container {
    position: absolute;
    bottom: 1.5625em;
    right: 1.5625em;
}

.heart-checkbox {
    display: none;
}

.heart {
    font-size: 25px;
}

.fa-heart {
    width: auto;
}

.heart-full {
    opacity: 0;
    transition: opacity 1.5s;
    position: absolute;
    top: 12px;
    left: 12px;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.heart-checkbox:checked+.heart .heart-full {
    opacity: 1;
    color: transparent;
    background-image: linear-gradient($primary-color, $secondary-color);
    background-clip: text;
    -webkit-background-clip: text;
}

.heart-checkbox:not(:checked)+.heart .heart-full {
    opacity: 0;
    color: transparent;
    background-image: linear-gradient($primary-color, $secondary-color);
    background-clip: text;
    -webkit-background-clip: text;
}

// Style coeur page menu
.restaurant-page-heart {
    position: absolute;
    top: 0;
    right: 20px;
}

// Responsive
@media screen and (min-width: $extra-large) {
    .restaurant-page-heart {
        position: absolute;
        top: 6px;
        right: 150px;
        transform: translateY(-50%);
    }
}