.section-title {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 1.5625em;
}

.home-page {

    .localisation {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e6e6e7;
        padding: 1.25em;
        width: 100%;
        position: relative;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);

        .fa-location-dot {
            font-size: 1em;
            color: #353535;
            margin-left: 4.375em;
        }

        .search {
            background: none;
            border: none;
            font-weight: 500;
            font-size: 1em;
        }
    }

    .exploration {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f6f6f6;
        width: 100%;
        text-align: center;
        padding: 2.5em 1.25em 1.25em;

        >div {
            margin-bottom: 1.25em;
        }

        .exploration-text p {
            font-weight: 300;
            font-size: 1.125em;
        }
    }

    .fonctionnement {
        padding: 2.5em 1.25em;
        background-color: white;

        .fonctionnement-steps {
            padding-left: 0.625em;

            .step {
                background: #f6f6f6;
                border-radius: 25px;
                height: 80px;
                margin-bottom: 1.875em;
                padding-top: 1.875em;
                padding-left: 6.25em;
                box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.1);
                position: relative;

                .step-number {
                    color: #fff;
                    font-weight: 500;
                    font-size: 0.875em;
                    position: absolute;
                    left: -10px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: $primary-color;
                    border-radius: 50%;
                    width: 25px;
                    height: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .step-icon {
                    color: #7E7E7E;
                    font-size: 1.5em;
                    margin-right: 1.25em;
                    position: absolute;
                    left: 40px;
                    top: 50%;
                    transform: translateY(-50%);
                }

                .step-icon-1 {
                    color: $primary-color;
                    font-size: 1.5em;
                    margin-right: 1.25em;
                    position: absolute;
                    left: 40px;
                    top: 50%;
                    transform: translateY(-50%);
                }

                .step-description {
                    line-height: 1.5;
                    position: relative;
                    left: -1.25em;
                }
            }
        }
    }

    .restaurants {
        background-color: #f6f6f6;
        padding: 2.5em 1.25em 2.5em 1.25em;
    }

    .card {
        position: relative;
        background-color: white;
        border-radius: 15px;
        margin-top: 1.25em;
        margin-bottom: 1.5625em;
        box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.12);
        position: relative;
        display: block;

        img {
            object-fit: cover;
            border-radius: 15px 15px 0px 0px;
            width: 100%;
            height: 150px;
            position: relative;
        }

        .card-new {
            background-color: rgba(153, 226, 208, 1);
            color: rgba(0, 135, 102, 1);
            padding: 0.3125em 0.625em;
            border-radius: 2px;
            position: absolute;
            top: 0.625em;
            right: 0.625em;
            z-index: 1;
        }

        .card-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            padding: 0.9375em;

            .card-txt {
                display: flex;
                align-items: center;
                width: 100%;

                .title-subtitle {
                    flex: 1;
                    margin-right: 0.625em;

                    .card-title {
                        font-size: 1.125em;
                        font-weight: 700;
                        padding-bottom: 0.3125em;
                    }

                    .card-subtitle {
                        font-size: 1.0625em;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    /* Fond blanc transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Assure que le loader est au-dessus de tout le contenu */
    animation: fadeOut 2s 1s forwards;
    /* Animation de fondu après 2 secondes */
}

.loader-overlay .fa-utensils {
    font-size: 120px;
    /* Taille de l'icône de fourchette et couteau */
    color: $primary-color;
    /* Couleur principale */
    animation: spin 2s linear infinite;
    /* Animation de rotation */
}

@keyframes fadeOut {
    from {
        opacity: 1;
        /* Opacité maximale */
    }

    to {
        opacity: 0;
        /* Opacité minimale */
        display: none;
        /* Disparaît complètement */
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: $medium) {

    .home-page {

        .fonctionnement {
            padding: 2.5em 3.75em 2.5em 4.6875em;
        }

        .restaurants {
            padding: 2.5em 4.6875em;
        }

        .fonctionnement-steps {
            padding: 0 0.9375em;
        }
    }
}

@media screen and (min-width: $large) {

    .home-page {

        h1 {
            font-size: 1.25em;
            padding-bottom: 0.625em;
        }

        .fonctionnement {
            padding: 2.5em 3.75em;
        }

        .fonctionnement-steps {
            display: flex;
            justify-content: space-between;
            /* Espacement égal entre les étapes */
            width: 100%;
        }

        .fonctionnement-steps .step {
            margin-left: 0.625em;
        }

        .restaurants {
            padding: 2.5em 1.875em 2.5em 3.75em;
        }

        .card {
            margin-right: 1.5625em;
        }

        .restaurants .restaurants-cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.25em;
        }
    }
}

@media screen and (min-width: $extra-large) {

    .home-page {
        h1 {
            font-size: 1.75em;
            padding-bottom: 0;
        }

        p {
            padding-bottom: 1.25em;
        }

        .fonctionnement {
            padding: 2.5em 12.5em;
        }

        .fonctionnement-steps {
            padding: 0 0.9375em;
        }

        .restaurants {
            padding: 2.5em 7.5em 0.625em 12.5em;
        }

        .card {
            height: 275px;
            margin-right: 60px;
        }

        .card img {
            height: 200px;
        }
    }

    .fonctionnement-steps .step {
        padding-top: 1.875em;
        padding-left: 6.25em;
        padding-right: 2.5em;
    }

    .card {
        margin-right: 4.6875em;
        /* Ajouter une marge à droite */
    }
}