.section-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 0 30px;
}

.home-page {

    .localisation {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e6e6e7;
        padding: 20px;
        width: 100%;
        position: relative;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);

        .fa-location-dot {
            font-size: 1rem;
            color: $footer-background-color;
            margin-left: 70px;
            margin-right: 12px;
        }

        .search {
            background: none;
            border: none;
            font-weight: 500;
            font-size: 1rem;
        }
    }

    .exploration {
        background-color: #f6f6f6;
        width: 100%;
        text-align: center;
        padding: 40px 20px 50px;

        >div {
            margin-bottom: 20px;
        }

        .exploration-text {
            font-weight: 300;
            font-size: 18px;
            padding-bottom: 25px;
        }
    }

    .fonctionnement {
        padding: 40px 20px;
        background-color: $background-color;

        .subtitle {
            font-size: 1.5rem;
            font-weight: 700;
            padding-bottom: 25px;
        }

        .fonctionnement-steps {
            padding-left: 10px;

            .step {
                background: #f6f6f6;
                border-radius: 25px;
                height: 80px;
                margin-bottom: 30px;
                padding-top: 30px;
                padding-left: 10px;
                box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.1);
                position: relative;

                .step-number {
                    color: #fff;
                    font-weight: 500;
                    font-size: 11px;
                    position: absolute;
                    left: -10px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: $primary-color;
                    border-radius: 50%;
                    width: 25px;
                    height: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .step-icon {
                    color: #7E7E7E;
                    font-size: 1.5rem;
                    margin-right: 20px;
                    position: absolute;
                    left: 30px;
                    top: 50%;
                    transform: translateY(-50%);
                }

                .step-icon-1 {
                    color: $primary-color;
                    font-size: 1.5rem;
                    margin-right: 20px;
                    position: absolute;
                    left: 30px;
                    top: 50%;
                    transform: translateY(-50%);
                }

                .step-description {
                    line-height: 1.5;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    .restaurants {
        background-color: #f6f6f6;
        padding: 50px 20px 40px 20px;
    }

    .subtitle {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .card {
        position: relative;
        background-color: white;
        border-radius: 15px;
        margin-top: 20px;
        margin-bottom: 25px;
        box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.12);
        transition: box-shadow 1.5s ease;
        /* Transition de la boîte d'ombre pour l'effet de survol */

        img {
            object-fit: cover;
            border-radius: 15px 15px 0px 0px;
            width: 100%;
            height: 150px;
            position: relative;
        }

        .card-new {
            background-color: rgba(153, 226, 208, 1);
            color: rgba(0, 135, 102, 1);
            padding: 5px 10px;
            border-radius: 2px;
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1;
        }

        .card-content {
            padding: 15px;

            .card-txt .title-subtitle {
                flex: 1;
                margin-right: 10px;

                .card-title {
                    font-size: 18px;
                    font-weight: 700;
                    padding-bottom: 5px;
                }

                .card-subtitle {
                    font-size: 1.0625rem;
                    font-weight: 300;
                }
            }
        }

        &:hover {
            box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
            transition: box-shadow 1.5s ease;
            /* Transition de la boîte d'ombre pour quitter le survol */
            cursor: pointer;
        }
    }
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    /* Assure que le loader est au-dessus de tout le contenu */
    animation: fadeOut 2s 1s forwards;
    /* Animation de fondu après 2 secondes */
}

.loader-overlay .fa-utensils {
    font-size: 120px;
    color: $primary-color;
    animation: spin 2s linear infinite;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 0;
        visibility: hidden;
        /* Masque l'élément */
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: $medium) {

    .home-page {

        .fonctionnement {
            padding: 40px 60px 40px 75px;
        }

        .restaurants {
            padding: 40px 75px;
        }

        .fonctionnement-steps {
            padding: 0 15px;
        }
    }
}

@media screen and (min-width: $large) {

    .home-page {

        h1 {
            font-size: 2.25rem;
            margin-bottom: 30px;
        }

        .fonctionnement {
            padding: 40px 60px;
        }

        .fonctionnement-steps {
            width: 100%;
        }

        .fonctionnement-steps .step {
            margin-left: 10px;
        }

        .restaurants {
            padding: 40px 30px 40px 60px;
        }

        .card {
            margin-right: 25px;
        }

        .restaurants .restaurants-cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
    }
}

@media screen and (min-width: $extra-large) {

    .home-page {
        h1 {
            font-size: 2.5rem;
            padding-bottom: 0;
        }

        p {
            padding-bottom: 20px;
        }

        .fonctionnement {
            padding: 60px 200px 20px;
        }

        .fonctionnement-steps {
            display: flex;
            justify-content: space-between;
            padding: 0;
        }

        .fonctionnement-steps .step {
            width: calc(33.333% - 0px);
            margin-right: 20px;
        }

        .restaurants {
            padding: 40px 120px 10px 200px;
        }

        .card {
            height: 275px;
            margin-right: 60px;
            margin-right: 4.6875em;
        }

        .card img {
            height: 200px;
        }
    }
}