body {
    background-color: $second-background-color;
}

.image-restaurant {
    width: 100%;
    height: 275px;
    object-fit: cover;
    margin-bottom: 30px;
}

.menu-restaurant {
    background-color: $second-background-color;
    padding: 20px 20px 35px;
    position: relative;
    border-radius: 40px 40px 0 0;
    transform: translateY(-75px); // Décale légèrement vers le haut pour chevaucher l'image
    z-index: 1; // Assure que la section est au-dessus de l'image
    margin-bottom: -75px;
}

.title-restaurant {
    font-family: $heading-font;
    font-size: 28px;
    position: relative;
    padding-bottom: 20px;
    margin-top: 12px;
}

.title-order {
    text-transform: uppercase; // Converti le texte en majuscules
    font-weight: 300;
    border-bottom: 3px solid #99E2D0;
    width: 40px; // Largeur de la bordure
    margin-bottom: 10px;
    padding-bottom: 5px;
}

// Animation
@keyframes apparition {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.menu-card-entry,
.menu-card-plats,
.menu-card-desserts {
    opacity: 0;
    margin-bottom: 40px;
    animation: apparition 4s forwards;
}

.menu-card-plats {
    animation-delay: 1s;
}

.menu-card-desserts {
    animation-delay: 2s;
}

// Style carte menu
.content-menu-card .bar-menu {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $background-color;
    border-radius: 15px;
    padding-left: 12px;
    margin-bottom: 15px;
    box-shadow: 1px 4px 9px 1px rgb(0 0 0 / 10%);
    transition: transform 330ms ease-in-out;
}

.hidden {
    display: none;
}

.details-menu-card,
.title-menu-card,
.txt-menu-card {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis; // si nécessaire, texte rogné et ...
    white-space: nowrap; // empêche le retour à la ligne
}

.details-menu-card {
    line-height: 25px;
    padding-right: 10px;
}

.title-menu-card {
    font-weight: 500;
    font-size: 1.125rem;
}

.txt-menu-card {
    font-weight: 300;
    font-size: 0.9375rem;
}

.price-menu-card {
    font-weight: 700;
    font-size: 0.9375rem;
    padding-right: 20px;
    margin-top: 25px;
}

/* Style de la coche */
.bar-menu:after {
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    font-size: 1.25rem;
    background-color: $tertiary-color;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 15px 15px 0;
    color: white;
    right: -5em;
    transition: right 0.3s ease; // Ajout de la transition
}

/* Fait apparaître l'icône uniquement lorsqu'il est coché */
.menu-checkbox:checked+.bar-menu:after {
    right: 0;
}

/* Décalage du prix vers la gauche au clic */
.menu-checkbox:checked+.bar-menu .price-menu-card {
    transform: translateX(-60px);
    transition: transform 0.3s ease;
}

@media screen and (min-width: $medium) {

    .menu-restaurant {
        margin: 0 75px -75px;
    }
}

@media screen and (min-width: $large) {

    .image-restaurant {
        height: 380px;
    }

    .menu-restaurant {
        padding-left: 100px;
        padding-right: 100px;
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (min-width: $extra-large) {

    .menu-restaurant {
        padding-left: 200px;
        padding-right: 200px;
        margin-left: 200px;
        margin-right: 200px;
        padding-top: 30px;
        position: relative;
    }

    .section-title-restaurant {
        display: flex;
        justify-content: center;
        position: relative;
    }
}