body {
    background-color: rgba(246, 246, 246, 1);
}

.image-restaurant {
    width: 100%; // Assurez-vous que l'image prend toute la largeur
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); // Ombre légère
    margin-bottom: 30px; // Ajoute un espace en bas pour séparer l'image du contenu suivant
}

.menu-restaurant {
    background-color: rgba(246, 246, 246, 1);
    padding: 20px;
    position: relative;
    top: -75px; // Décale légèrement vers le haut pour chevaucher l'image
    z-index: 1; // Assurez-vous que la section est au-dessus de l'image
    border-radius: 40px 40px 0 0;
}

.title-restaurant {
    font-family: "Shrikhand", cursive;
    font-size: 1.75em;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.order-cards {
    display: flex;
    flex-wrap: wrap;
}