body {
    background-color: rgba(246, 246, 246, 1);
}

.image-restaurant {
    width: 100%; // Assurez-vous que l'image prend toute la largeur
    height: 275px;
    object-fit: cover;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); // Ombre légère
    margin-bottom: 1.875em; // Ajoute un espace en bas pour séparer l'image du contenu suivant
}

.menu-restaurant {
    background-color: rgba(246, 246, 246, 1);
    padding: 1.25em;
    position: relative;
    border-radius: 40px 40px 0 0;
    transform: translateY(-75px); // Décale légèrement vers le haut pour chevaucher l'image
    z-index: 1; // Assurez-vous que la section est au-dessus de l'image
    margin-bottom: -4.6875em; // Réduire le décalage avec le footer
}

.title-restaurant {
    font-family: $heading-font;
    font-size: 1.75em;
    display: flex;
    align-items: center;
    margin-top: 1.25em;
    margin-bottom: 1.875em;
    position: relative;
}

.title-order {
    text-transform: uppercase; // Convertit le texte en majuscules
    font-weight: 300;
    border-bottom: 3px solid #99E2D0; // Ajoute la bordure en dessous du texte avec les critères spécifiés
    width: 40px; // Largeur de la bordure
    margin-bottom: 0.625em; // Ajoute une marge en bas pour créer un espace sous le titre
    padding-bottom: 0.3125em; // Ajoute un espace supplémentaire entre le texte et la bordure
}

/* Styles de base pour cacher tous les groupes de plats */
.menu-card-entry,
.menu-card-plats,
.menu-card-desserts {
    opacity: 0;
    /* Les groupes de plats sont initialement invisibles */
    margin-bottom: 40px;
}

/* Animation pour l'apparition des entrées */
@keyframes apparition-entrees {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Animation pour l'apparition des plats */
@keyframes apparition-plats {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Animation pour l'apparition des desserts */
@keyframes apparition-desserts {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Ajout des délais d'animation pour chaque groupe de plats */
.menu-card-entry {
    animation: apparition-entrees 4s forwards;
    /* L'animation des entrées dure 3 secondes */
}

.menu-card-plats {
    animation: apparition-plats 3s forwards;
    /* L'animation des plats dure 2 secondes */
    animation-delay: 1s;
    /* Les plats apparaissent après une pause de 1 seconde */
}

.menu-card-desserts {
    animation: apparition-desserts 3s forwards;
    /* L'animation des desserts dure 3 secondes */
    animation-delay: 2s;
    /* Les desserts apparaissent après une pause de 2 secondes */
}

.content-menu-card {
    cursor: pointer;
    overflow: hidden;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding-left: 0.75em;
    margin-bottom: 0.9375em;
    box-shadow: 1px 4px 9px 1px rgb(0 0 0 / 10%);
    transition: transform 330ms ease-in-out;

    .details-menu-card {
        line-height: 25px;
        flex-grow: 1;
        overflow: hidden;
        /* si nécessaire, texte rogné et ... */
        text-overflow: ellipsis;
        /* empêche le retour à la ligne */
        white-space: nowrap;
        padding-right: 10px;
    }

    .title-menu-card {
        font-weight: 500; // Définit le poids de la police à 500
        font-size: 1.125em; // Convertit 18px en em
        flex-grow: 1;
        overflow: hidden;
        /* si nécessaire, texte rogné et ... */
        text-overflow: ellipsis;
        /* empêche le retour à la ligne */
        white-space: nowrap;
    }

    .txt-menu-card {
        font-weight: 300; // Définit le poids de la police à 300
        font-size: 0.9375em; // Convertit 15px en em
        flex-grow: 1;
        overflow: hidden;
        /* si nécessaire, texte rogné et ... */
        text-overflow: ellipsis;
        /* empêche le retour à la ligne */
        white-space: nowrap;
    }

    .price-menu-card {
        font-weight: 700;
        font-size: 0.9375em;
        padding-right: 1.25em;
        margin-top: 1.5625em;
    }
}

.check {
    overflow: hidden;
    flex-shrink: 0;
    font-size: 1.25em;
    background-color: #99e2d0;
    color: white;
    border-radius: 0px 15px 15px 0px;
    width: 0px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.8s ease;
    /* Transition plus lente */

    .fa-circle-check {
        transform: rotate(0deg);
        /* Rotation initiale */
        transition: transform 0.8s ease;
        /* Transition plus lente */
    }
}

.content-menu-card:hover .check {
    width: 60px;
    /* Déplace le bouton vers la gauche au survol */

    .fa-circle-check {
        transform: rotate(360deg);
        /* Rotation complète au survol */
    }
}

@media screen and (min-width: $medium) {

    .menu-restaurant {
        margin: 0 4.6875em -4.6875em;
    }
}

@media screen and (min-width: $large) {

    .image-restaurant {
        height: 380px;
    }

    .menu-restaurant {
        padding-left: 6.25em;
        padding-right: 6.25em;
        margin-left: 6.25em;
        margin-right: 6.25em;
    }
}

@media screen and (min-width: $extra-large) {

    .menu-restaurant {
        padding-left: 12.5em;
        padding-right: 12.5em;
        margin-left: 12.5em;
        margin-right: 12.5em;
        padding-top: 1.875em;
    }

    .title-restaurant {
        justify-content: center;
    }
}